html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;

    justify-content: center;

    align-items: center;
}

#defaultCanvas0 {
    display: none;
}

#footer {
    font-family: Calibri, serif;
    text-align: center;
    margin: 0;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

p {
    margin: 0;
    padding: 0;
    color: #292929;
}

#controls {
    font-size: 150%;
}

#credits {
    font-style: italic;
}